@import url('reset-html.css');

html {
    font-family:Tahoma, Arial,sans-serif;
}

form {
	background-color: #ffc0cb;
	width: 420px;
	margin: 5px;
	padding: 5px;
}

h1 {
	font-size: 40px;
	font-style: italic;
	text-align: center;
	padding: 10px;
}

.row {
	width: 410px;
	margin: 3px;
	background-color: #ffc0cb;
}

.cell {
	display: inline-block;
   width: 200px;
	vertical-align: top;
}

.cell-full {
	display: inline-block;
	width: 100%;
}

label {
	font-size: 12px;
	font-style: italic;
	padding: 0px;
}

label.property {
	display: block;
	width: 100%;
}

.pasangers{
    display:inline-block;    
    width:31%;
	 background-color: red;
}

input[type="date"] {
	display: block;
	width: 98%;
	height: 20px;
}

input[type="time"]{
	width: 45%;
	height: 20px;
}

input[type="text"] {
    width:100%;
}

select{
	display: block;
	width: 200px;
	font-size: 16px;
}

direct-prefer {
	display: inline;
	float: left;
	width: 100%;
}

input[type="submit"] {
	float: right;
	width: 50%;
	margin-right: 3px;
}

